<button class="btn btn-info" [routerLink] = "['/']">Data Base</button>
<h2>
  List of users from fire base:
</h2>
<ul  class = "list-group">
   <li class = "list-group-item" *ngFor = "let user of users">
      {{user.phone +" "+ user.name}}
    </li>
</ul>