<h2>Add User: </h2>
<form [formGroup] = "addform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" placeholder="Name" required>
    <div *ngIf="!addform.controls.name.valid" class="alert alert-danger">
      Please add name
    </div> 
  </div>
  <div>
    <label for="phone"></label>
    <input type="text" name="phone" id="phone" class="form-control" formControlName = "phone" placeholder="Phone" required>
    <div *ngIf="!addform.controls.phone.valid" class="alert alert-danger">
      Please add phone number
    </div> 
  </div>
  <br>
  <input type="submit" value="Add user" class="btn btn-primary" [disabled]="!addform.valid">
</form>