<h2>Update user {{user?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="username" id="name" class="form-control" formControlName = "name"  value="{{name}}" [(ngModel)]="name">
  </div>
  <div>
    <label for="phone"></label>
    <input type="text" name="phonen" id="phonen" class="form-control" formControlName = "phone"  value="{{phone}}" [(ngModel)]="phone">
  </div>
  <br>
  <input type="submit" value="Updat user" class="btn btn-primary">
</form>